.App {
  background-color: #23272e;
  min-height: 100vh;
}

.content{
  margin-top: 5px;
}

.btnHome{
  position: fixed; 
  top: 91%;
  left: 89%;
  width: 90px;
  height: 40px;
  background: #23272e;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
