.App {
  background-color: #23272e;
  min-height: 100vh;
}

.principal-content {
  min-height: 50vh;
  background-color: aquamarine;
}

.secundary-content {
  min-height: 50vh;
  background-color: goldenrod;
}

.third-content{
  min-height: 50vh;
  background-color: gray;
}